configuration {
	font: "CommitMono 12";
	show-icons: true;
	icon-theme: "Papirus";
	drun-display-format: "{icon} {name}";
    display-drun: "ฅ^•ﻌ•^ฅ";
    kb-row-down: "Alt+j";
    kb-row-up: "Alt+k";
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "catppuccin-mocha"
